@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-inter-sans-serif: Inter, sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: oklch(34.883% 0.12238 257.48);
    --color-primary-50: oklch(65.245% 0.1792 255.82);
    --color-primary-100: oklch(62.217% 0.19707 256.93);
    --color-primary-200: oklch(56.638% 0.2114 258.52);
    --color-primary-300: oklch(49.574% 0.18466 258.56);
    --color-primary-400: oklch(42.386% 0.15431 258.16);
    --color-primary-500: oklch(34.883% 0.12238 257.48);
    --color-primary-600: oklch(23.804% 0.07482 255.45);
    --color-primary-700: oklch(10.901% 0.02402 237.61);
    --color-primary-800: oklch(0% 0 none);
    --color-primary-900: oklch(0% 0 none);
    --color-primary-950: oklch(0% 0 none);

    --color-muted: oklch(81.944% 0.00773 260.73);
    --color-muted-50: oklch(100% 0 none);
    --color-muted-100: oklch(100% 0 none);
    --color-muted-200: oklch(100% 0 none);
    --color-muted-300: oklch(94.864% 0.00172 247.84);
    --color-muted-400: oklch(88.462% 0.00465 258.33);
    --color-muted-500: oklch(81.944% 0.00773 260.73);
    --color-muted-600: oklch(72.763% 0.01239 264.49);
    --color-muted-700: oklch(63.506% 0.01653 260.72);
    --color-muted-800: oklch(54% 0.01724 260.71);
    --color-muted-900: oklch(44.153% 0.01408 264.42);
    --color-muted-950: oklch(39.268% 0.01143 258.36);
    --color-muted-950: oklch(39.268% 0.01143 258.36);

    --color-destructive: oklch(62% 0.16 25);
    --color-destructive-50: oklch(97.5% 0.02 25);
    --color-destructive-100: oklch(95% 0.04 25);
    --color-destructive-200: oklch(90% 0.06 25);
    --color-destructive-300: oklch(82% 0.08 25);
    --color-destructive-400: oklch(72% 0.12 25);
    --color-destructive-500: oklch(62% 0.16 25);
    --color-destructive-600: oklch(52% 0.16 25);
    --color-destructive-700: oklch(42% 0.14 25);
    --color-destructive-800: oklch(32% 0.12 25);
    --color-destructive-900: oklch(22% 0.1 25);
    --color-destructive-950: oklch(15% 0.08 25);

    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-base: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.5rem;
    --text-4xl: 1.875rem;
    --text-5xl: 2.25rem;
    --text-6xl: 3rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6rem;
    --text-9xl: 9rem;

    --font-serif: var(--font-inter-sans-serif);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-serif);
}
